<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index
        
    </title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
    <div class="background-image">
    <div class="container">
            <div class="center">
        <img src="../static/images/logo.png" alt="" class="ani">
    </div>
    <div class="c1 video-mask">
        <video width="450" height="450" autoplay loop muted>
            <source src="../static/video/sign.mp4" type="video/mp4">
              </video>
    </div> 
     <form action="/front" method='get'>
        <div class="text-center f1"> 
                   <button class="button-3" type="submit">   Next  </button>
        
                </div>        
         </form>
         </div>
       </div>
    
</body>
</html>